.service-card {
  width: 200px;

  .card {
    &__image {
      border-radius: 100%;
      width: 85px;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 16px;
      font-weight: 600;
      width: 120px;
      margin-bottom: 10px;
    }

    &__line {
      opacity: 1;
      margin: 0 0 15px;
    }

    &__text {
      font-size: 14px;
      font-weight: 300;
      line-height: 145%;
    }
  }
  
  @media (max-width: 767px) and (min-width: 320px){
    display: flex;
    flex-direction: column;
  }
}

.card-modifier {
  &--yellow {
    .card {
      &__image {
        background-color: var(--yellow-light);
      }
      &__line {
        border: 3px solid var(--yellow-light);
      }
    }
  }

  &--green-full {
    .card {
      &__image {
        background-color: var(--green);
      }
      &__line {
        border: 3px solid var(--green);
      }
    }
  }

  &--green-stroke {
    .card {
      &__image {
        border: 2px solid var(--green);
      }
      &__line {
        border: 3px solid var(--green);
      }
    }
  }

  &--gray {
    .card {
      &__image {
        border: 2px solid var(--gray);
      }
      &__line {
        border: 3px solid var(--gray);
      }
    }
  }
}
