.talk-to-us {
  &__content {
    background: var(--background-green);
    padding: 50px 375px;
  }

  &__title-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 62px;
  }

  &__title {
    color: var(--white);
    font-weight: 600;
    font-size: 50px;
    text-align: center;
  }

  &__subtitle {
    color: var(--white);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }

    @media (max-width: 1399px) and (min-width: 768px){
      &__content{
        padding: 50px;
      }
    }
}
