.navigation {
  background: var(--background-menu);
  padding: 9px 140px;
  position: sticky;
  z-index: 1;
  top: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    .list {
      display: flex;
      gap: 37px;

      &__item {
        font-weight: 300;
        font-size: 14px;
        color: var(--white);
      }
    }
  }

  @media (max-width: 1399px) and (min-width: 768px) {
    padding: 15px;

    &__content {
      gap: 100px;
    }

    &__list {
      .list {
        gap: 15px;
        align-items: center;

        &__item {
          font-weight: 200;
          font-size: 12px;
        }
      }
    }
  }
  
  @media (max-width: 767px) and (min-width: 320px){
    display: none;
  }
}
