.header {
  padding: 140px 140px;
  width: 100%;
  background: url("/images/header-bg.webp");
  background-size: cover;
  border-bottom: 10px solid var(--background-green);

  &__content {
    display: flex;
    height: 400px;
    gap: 25px;
  }

  &__card {
    background-color: var(--card-bg);
    padding: 144px 41px 55px;
    width: 260px;
    box-shadow: 0 5px 20px 0 var(--shadow-light);
    border-radius: 20px;

    &-logo {
      padding-bottom: 5px;
      border-bottom: 1.04px solid var(--yellow-light);
      margin-bottom: 15px;
    }

    &-text {
      width: 129px;
      font-size: 16px;
      font-weight: 500;
      margin: 0 auto;
      margin-bottom: 55px;
    }
  }
}
