.clients {
  padding: 0px 140px 0 128px;

  &__container {
    margin: 50px 50px 50px 0px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 108px;
  }

  &__work-title {
    color: var(--instructional-text);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
  }

  &__work-subtitle {
    width: 600px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 35px;
    color: var(--instructional-text);
  }

  &__work-list {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__work-list-item {
    display: flex;
    align-items: baseline;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--instructional-text);
  }

  &__icon {
    stroke-width: 4px;
    width: 25px;
    height: 18px;
    fill: none;
    stroke: var(--yellow);
    margin-right: 10px;
    flex-shrink: 0;
  }

  @media (max-width: 1399px) and (min-width: 768px) {
    padding: 50px;

    &__container {
      margin: 0;
    }

    &__content {
      gap: 0;
    }

    &__work-subtitle {
      width: fit-content;
    }

    &__work-list {
      width: fit-content;
    }
  }
    @media (max-width: 767px) and (min-width: 320px){
    padding: 20px;

    &__image {
      display: none;
    }

    &__container {
      margin: 0px;
    }

    &__content {
      gap: 0;
      flex-direction: column;
    }

    &__title {
      font-size: 45px;

      &::before {
        display: none;
      }
    }

    &__work-title {
      width: fit-content;
      font-size: 25px;
    }

    &__work-list {
      width: fit-content;
      font-size: 20px;
    }

    &__work-subtitle {
      width: fit-content;
      font-size: 16px;
    }
  }
}
