$background-light: #fff;
$text-color: #212121;
$secondary-text-color: #999b9a;
$input-bg-light: rgba(52, 52, 52, 0.1);
$input-bg-dark:  rgba(255, 255, 255, 0.1);
$background-dark: #343434;
$background-light-dark:  #414141;
$text-color-dark: #fff;
$background-green:#3D948C;
$white: #fff;
$form-input-bg: #41a297;
$footer-bg: #414141;
$footer-text: #929292;
$copyright-bg: #383838;
$copyright-text:  #595959; 
$yellow: #e7d08c;
$instructional-text: #424242;
$green: #29B4AD;
$yellow-light: #dcce90;
$gray: #B5B7B6;

// Для теми light
:root {
  --background: #{$background-light};
  --text-color: #{$text-color};
  --secondary-text-color: #{$secondary-text-color};
  --input-bg: #{$input-bg-light};
  --background-green: #{$background-green};
  --white: #{$white};
  --form-input-bg: #{$form-input-bg};
  --footer-bg: #{$footer-bg};
  --footer-text:#{$footer-text};
  --copyright-bg: #{$copyright-bg};
  --copyright-text:#{$copyright-text};
  --background-menu: #{$background-dark};
  --card-bg: #{$white};
  --section-title:#{$secondary-text-color};
  --yellow: #{$yellow};
  --instructional-text: #{$instructional-text};
  --design-text: #{$instructional-text};
  --input-text: #{$background-dark};
  --green:#{$green};
  --yellow-light:#{$yellow-light};
  --gray:#{$gray};
  --green-full:#{$background-green};
  --green-stroke:#{$green};
  --icon-close:#{$background-dark};
  --icon-arrow:#{$background-dark};
  --page-number:#{$background-dark};
  --filter-text:#{$background-dark};
}

// Для теми dark
[data-theme="dark"] {
  --background: #{$background-dark};
  --text-color: #{$text-color-dark};
  --card-bg: #{$background-light-dark};
  --background-menu:#{$background-light-dark};
  --section-title:#{$secondary-text-color};
  --instructional-text: #{$white};
  --input-bg:#{$input-bg-dark};
  --icon-close: #{$white};
  --input-text:#{$white};
  --page-number:#{$white};
  --filter-text:#{$white};
}
