.slider {
  display: flex;
  gap: 25px;
  flex-direction: row-reverse;
  transition: 0.3s;

  &__group {
    display: flex;
    gap: 25px;
  }

  &__img {
    width: 400px;
    min-height: 400px;
  }

  .carousel-inner {
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .carousel-item {
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &.active {
      display: flex;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    min-width: 35px;
    gap: 10px;
    right: 20px;

    [data-bs-target] {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #979090;
      transition: 0.6s;
    }

    .active {
      width: 25px;
      height: 25px;
      background-color: var(--white);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  &__caption {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__title {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: var(--white);
    width: 160px;
  }

  &__icon {
    fill: none;
    stroke: var(--white);
    width: 61px;
    height: 41px;
    margin-bottom: 12px;
  }
}
